* {
  padding: 0;
  margin: 0;
}

body {
  background-color: pink;
}
.ui-datepicker-wrapper {
  width: 300px;
  font-size: 16px;
  color: #666;
  background-color: #fff;
  box-shadow: 2px 2px 8px 2px rgba(128, 128, 128, .3);
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
}

.ui-datepicker-wrapper .ui-datepicker-header {
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  display: flex;
}

.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-btn {
  font-family: serif;
  font-size: 20px;
  width: 30px;
  text-decoration: none;
  color: #1abc9c;
  flex: 0 0 30px;
  cursor: pointer;
}
.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-display {
  flex: 1;
}

.ui-datepicker-wrapper .ui-datepicker-body table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.ui-datepicker-wrapper .ui-datepicker-body table th{
  font-size: 12px;
  height: 40px;
  line-height: 40px;
}

.ui-datepicker-wrapper .ui-datepicker-body table td {
  width: 14%;
  font-size: 10px;
  line-height: 30px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}

.ui-datepicker-wrapper .ui-datepicker-body table tbody .active {
  background-color: #1abc9c!important;
  color: #fff;
}

.ui-datepicker-wrapper .ui-datepicker-body table tr td:nth-child(1) {
  background-color: #f5f5f5;
  border-left: none;
}

.ui-datepicker-wrapper .ui-datepicker-body table tr td:nth-last-child(1) {
  background-color: #f5f5f5;
  border-right: none;
}

.ui-datepicker-wrapper .ui-datepicker-body table td:hover {
  background-color: #f0f0f0;
}

.ui-datepicker-wrapper .ui-datepicker-body table tbody .notCurrMonth {
  color: #ccc;
}
